In [ ]:
print('VEDANT')

VEDANT

In [ ]:
print(2+2)

4

In [ ]:
a=12
print(a)

12

In [ ]:
Total_fruits=100
print(Total_fruits)

100

In [ ]:
Battle="Water"
print(Battle)

Water

In [ ]:
First_number=50
Second_number=50
Total = First_number + Second_number
print(Total)

100

In [ ]:
Class = "students"
print(Class)

students

In [ ]:
Mango=10
Apple=20
Total=Mango+Apple
print(Total)

30

In [ ]:
z=2
x=4
y=8
v=z*x*y
print(v)

64

In [ ]:
a=10
b=2
c=a/b
print(c)

5.0

In [ ]:
python="Its a programing language"
print(python)
sub="is my favourite language"
print(sub)

Its a programing language
is my favourite language

In [ ]:
a,b,c,d=10,20,30,40
print(a,b,c,d)

10 20 30 40

In [ ]:
add,sub,mul,div=10,20,30,40
print(add+sub-mul*div )

-1170

In [ ]:
print(2*3+5**2-3%4)

In [ ]:
hi,hello,bye=10,3.14,"sanat"
print()
print(hi)
print(bye)
print(hello)
print()

In [ ]:
Num=True
print(type(num))

In [ ]:
Adress='''My name is vedant ,i am from manuchivadi,584128'''
print(type(Adress))

In [ ]:
#LIST
items=["apple","rice","wheat","banana","mango","true"]
print(items)
items.append("potato")
print(items)
items.remove("rice")
print(items)
print(items[0:3])
print(len(items))
print(type(items))
print(type(items))
print(items)

In [ ]:
#TUPLE
ex=(181,"Sanat",81.16,'Manochiwadi',True)
print(ex)

#TYPE CHECKING
print(type(ex))

#LENGHT
print(len(ex))

#ACCESING VALUE THROUGH INDEX
print(ex[1])

print(ex[4])

#SLICING
print(ex[0:4])

#REVERSE
print(ex[::-1])

In [ ]:
x=(1,2,3,4)
y=(4,5,6,7)
z=(0,5,7,9)
print(x+y+z)
print(type(x))
print(x*3)

In [ ]:
#SET

EX={1,2,3,4,5}
print(EX)

#TYPE
print(type(EX))

#LEN
print(len(EX))

#ADD
EX.add('6')
print(EX)

EX.add(3.33)
print(EX)

#POP
EX.pop()
print(EX)

#REMOVE
EX.remove(5)
print(EX)

#EX.sort()
print(EX)

In [ ]:
A={1,2,3,4,5}
B={5,6,7,8}

print(A | B)
print(A.union(B))

print(A&B)
print(A.intersection(B))

print(A.difference(B))
print(A-B)
print(B-A)

In [ ]:
#DICTIORY1

dict={'name':'sanat',
      'age':19,
      'per':81.16,
      'result':True,
      'place':"kothali"
      }
print(dict)
#2
print(type(dict))
#3
print(len(dict))
#4
dict["College"]='BK CHIKODI'
print(dict)

dict["dob"]="18/05/2007"
print(dict)

dict["phone no"]=9008726308
print(dict)

print(len(dict))

#ACCESS5
print(dict['age'])

dict['Gender']='male'
print(dict)

print(dict['Gender'])
#6
del dict['place']
print(dict)
#789
print(dict.keys())
print(dict.values())
print(dict.items())

dict['result']=False
print(dict)

In [ ]:
#STRING
x ="RASHMIKA"
y =" MANDHANA+"
print(x + y)

print(x+y+ " is the national crush")

print(" BYE"*5)

College="basav prabhbu kore college"
print()

In [ ]:
#input funtion()

shivshankar='''multi line comment
         syntax:
          variable_name = input("Enter a value")
'''
print(shivshankar)
print("your wrong")

In [ ]:
demo="10"
print(demo,type(demo))
x=tuple(demo)
print(x,type(x))

In [ ]:
demo=10
print(demo,type(demo))
x=str(demo)
print(x,type(x))

In [ ]:
a={1,2,3}
print(type(a))
b=tuple(a)
print(type(b))

<class 'set'>
<class 'tuple'>

In [ ]:
a=[1,2,3]
print(type(a))
b=set(a)
print(type(b))

<class 'list'>
<class 'set'>

In [ ]:
x=(1,2,3)
print(x,type(x))

(1, 2, 3) <class 'tuple'>

In [ ]:
 i=10
 j=20
 k=i+j
 l=10+20
 print(k)
 print(l)

30
30

In [ ]:
print(10%5)

0

In [ ]:
print(12/2)
print()

6.0

In [ ]:
a=10
b=20
print("before swapping")
print("a=",a,"b=",b)
print()
print("after swaping")
temp=a
a=b
b=temp
print("a=",a,"b=",b)

before swapping
a= 10 b= 20

after swaping
a= 20 b= 10

In [ ]:
3.
from ast import Yield
#ADITION
x=int(input("enter the value"))
y=int(input("enter the value"))
sum=x+y
print("the sum of two value is:",sum)
print()
#SUBSTRACTION
x=int(input("enter the value"))
y=int(input("enter the value"))
sub=x-y
print("the sub of two value is:",sub)
print()
#MULTIFICATION
x=int(input("enter the value"))
y=int(input("enter the value"))
mul=x*y
print("the mul of two value is:",mul)
print()
#DIVISION
x=int(input("enter the value"))
y=int(input("enter the value"))
div=x/y
print("the div of two value is:",div)
print()
#MODULUS
x=int(input("enter the value"))
y=int(input("enter the value"))
mod=x%y
print("the mod of two value is:",mod)
print()
#EXPONTIAL
x=int(input("enter the value"))
y=int(input("enter the value"))
exp=x**y
print("the exp of two value is:",exp)
print()
#FLOOER DIVISION
x=int(input("enter the value"))
y=int(input("enter the value"))
fdiv
print("the fdiv of two value is:",fdiv)
print()

the sum of two value is: 30

the sub of two value is: 10

the mul of two value is: 200

the div of two value is: 0.8

the mod of two value is: 0

In [ ]:
a=10
b=20
print("before swapping")
print("a=",a,"b=",b)
print()
print("after swaping")
a=a+b
b=a-b
a=a-b
print("a=",a,"b=",b)

In [ ]:
#COMPARISION OPERATOR

A=10
B=20
print(A<B)

In [ ]:
A=10
B=20
print(A > B)
print(A < B)
print(A >= B)
print(A <=B)
print(A ==B)
print(A !=B)

In [ ]:
X=5
X=X+5
print(X)
X=10
X=X-3
print(X)
X=7
X=X*5
print(X)
X=35
X=X/5
print(X)
X=7
X=X**2
print(X)
X=49
X=X%2
print(X)
X=1
X=X//1
print(X)

In [ ]:
colour=(input("enter the signal colour :"))
if colour=="red":
  print("Stop")
elif colour=="yellow":
  print("Ready to go")
elif colour=="green":
  print("Go")
else:
  print("invalid signal colour")

In [ ]:
Num = 1
while Num <= 10:
  print(Num)
  Num=Num+1

In [ ]:
Num = 2
while Num<=100:
  print(Num)
  Num=Num+2

In [ ]:
Num= 153
add=0
temp = Num #Num and temp values both are equal 153
while Num != 0:
  rem = Num%10
  add= add + rem * rem * rem
  Num=Num//10
if temp == add:
  print("ArmStrong Number")
else:
    print("Not ArmStong Number")

In [ ]:
Num=5
while Num<=50:
  print(Num,end=" ")
  Num = Num+5

In [ ]:
i=1
add=0
while i<=10:
  add=add+i
  i=i+1
print("Sum of N natural number is",add)

In [ ]:
Num=5
i=1
fact = 1
while i<=Num :
  fact=fact*i
  i+=1
print("Total Factorial value is:",fact)

In [ ]:
Num=12345
while

In [ ]:
num=int(input("Enter number is :"))
temp=num
pol=0
while num !=0:
    rem=num%10
    pol=pol*10+rem
    num=num//10
if temp == pol:
    print("Polindrone")
else:
    print("Not Polindrone number")

In [ ]:
for i in "mobile":
    print(i)

In [ ]:
Num = [1,2,3,4,5,6,7,8,9,10]
Total = 0
for i in Num:
    Total = Total + i
print(Total)

In [ ]:
for i in range(10):
  print(i,end=" ")

In [ ]:
I1p="KLE BCA"
print(I1p)

In [ ]:
i1p="KLE BCA"
o_p=" "
for i in i1p:
  o_p = i + o_p
  print(o_p)

In [ ]:
n=[10,30,50,35,26,55,9,42]
for i in n:
  largest_num = max(n)
print("largest number ", largest_num)

In [ ]:
n=[10,30,50,35,26,55,9,42]
largest=n[0]
for i in n:
  if i > largest:
      largest = i
print("largest number is: ",largest)

In [ ]:
for i in range(10,0,-1):
  print(i,end=" ")

In [ ]:
Num=1
fact=1
for i in range(1,Num+1):
  fact=fact*i
print("Factorial of Num is :",fact)

In [ ]:
a,b=0,1
for i in range(11):
  print(a,end=" ")
  a,b=b,a+b

In [ ]:
for i in range(1,11):
  print(i,"*",i,"=",i*i)

In [ ]:
x="BASAVA PRABHU KORE COLLEGE IN CHIKODI"
vowels="aeiouAEIOU"
count=0
for i in x:
  if i in vowels:
    count=count+1
print("Numbers of vowels",count)

In [ ]:
for i in range (1,10):
  if i==5:
    break
  print(i,end=" ")

In [ ]:
signals=["red","green","yellow"]
for i in signals:
  if i=="black":
    break
  print(i,end="")

In [ ]:
colours=["red","green","yellow","pink","black","orange","blue","maroon"]
for i in colours:
  if i=="white":
    break
  print(i,end=" ")

In [ ]:
vehicles=("Bullet","Spelndor","M80","Yamaha","Hf delux","passion pro","Sp shine","XL 100")
for i in vehicles:
  if i=="auto":
    break
  print(i,end="   ")

In [ ]:
mobiles=("i phone","realme","one plus","redmi","nokia","samsung","oppo","nothing","vivo","techno","lava","infinix","moto","iQ")
for i in mobiles:
  if i =="vivo":
    break
  print(i,end="  ")

In [ ]:
movies=("chhava","sairat","animal","pushpa","KGF","3 idiots","dangal","bahubali","maha avatar narshimha","dragon")
for i in movies:
  if i=="KGF":
    continue
  print(i,end="  ")

In [ ]:
for i in range(5):
  if i==3:
    pass
  print(i)

In [ ]:
for i in "Computer":
  print(i)

In [ ]:
for i in  range(3):
  for j in range(3):
    print(i,j)

In [ ]:
for i in  range(3):
  for j in range(3):
    print("{*_*}",end="   ")
  print()
  print()
  print()

In [ ]:
for i in range(20):
  for j in range(10):
    print("JAY SHREE RAM",end="   ")
  print()
  print()

In [ ]:
for i in range(20):
  for j in range(i):
    print("*",end="  ")
  print()

In [ ]:
for i in range(20,0,-1):
  for j in range(i):
    print("*",end="  ")
  print()

In [ ]:
rows = int(input("Enter rows:"))
cols = int(input("Enter Cols:"))

for i in range(0, rows):
    for j in range(0, cols):
        if i==0 or j==0 or i == rows-1 or j == cols-1:
            print("*", end="  ")
        else:
            print(" ", end="  ")
    print()

In [ ]:
num = int(input("Enter the Number: "))

for i in range(0, num):
    for j in range(0, num-i-1):
        print(" ",end=" ")
    for j in range(0, i*2+1):
        print("*", end=" ")
    print()

for i in range(1, num):
    for j in range(0, i):
        print(" ",end=" ")
    for j in range(0, (num-i)*2-1):
        print("*", end=" ")
    print()

In [ ]:
rows = int(input("Enter rows:"))
cols = int(input("Enter Cols:"))

for i in range(0, rows):
    for j in range(1, i+1):
        print(" ", end=" ")
    for j in range(0, cols):
        print("*", end=" ")
    print()

In [ ]:
num=int(input("enter the number :"))
for i in range(0, num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0, i*2+1):
    print("*",end=" ")
  print()

In [ ]:
num=int(input("enter the number :"))
for i in range(0, num):
  for j in range(0,num-i+1):
    print(" ",end=" ")
  for j in range(0, i*2+1):
    print("*",end=" ")
  print()
for i in range(1, num):
  for j in range(0,i):
    print(" ",end=" ")
  for j in range(0, (num-i)*2+1):
    print("*",end=" ")
  print()

In [ ]:

num=int(input("enter the number :"))
for i in range(1, num):
  for j in range(0,i):
    print(" ",end=" ")
  for j in range(0, (num-i)*2-1):
    print("*",end=" ")
  print()

In [ ]:
def greet():
  print('HELLO, GOOD EVENING!')
greet()

In [ ]:
def fun():
  a=10
  b=20
  print(a+b)
fun()

In [ ]:
def fun(a,b):
  print("Addition of two numbers is:",a+b)
fun(50,20)
fun(100,200)
fun(85,69)

In [ ]:
def pen(name):
  print("My name is",name)
pen("Vedant")
pen("sanat")

In [ ]:
def hello(x,y):
  return x+y
hello(20,40)

In [ ]:
def text(name,address,course,place):
  print("i,m",name,"from",address,"i have completed",course,"from",place)
text("vedant","manochiwadi","PUC","vsm college,nipani")

In [ ]:
def fun(number):
  if number%2==0:
     print("number is even")
  else:
     print("number is odd")
fun(100)

In [ ]:
def num(value):
  print("4 square is :",value*value)
num(4)

In [ ]:
def factorial(value):
  fact=1
  for i in range(1,value + 1):
    fact=fact*i
  print("factorial number is",fact)
factorial(4)

In [ ]:
def pen(num):
  return num*num
pen(4)

In [ ]:
def add(a,b):
  return a+b
print("adition of two numbers is:",add(5,3))

In [ ]:
#POSITIONAL ARGUMENT
def details(name,section,div,course):
  print("Good morning,","I'm",name,"i'm studying in",section,"first semester,","section",div,"and last 6 days i'm attending,",course,"classes.")
details("vedant","BCA","B","python")

In [ ]:
#KEY WORD ARGUMENT
def classes(day1,day2,day3,day4,day5,day6):
  print("DAY 1:",day1,"DAY 2:",day2,"DAY 3:",day3,"DAY 4:",day4,"DAY 5:",day5,"DAY 6:",day6)
classes("Language,programing,program,programing language types,advantages","python programing languages,python installation","variable,varialbe naming rules,data types in python","type casting,operator","types of operator,python conditional statement","python loops,break,continue,pass,statements")

In [ ]:
def lab(f_day,s_day,t_day,d_day):
  print("i learned",f_day,s_day,d_day,t_day)
lab(f_day="Conditinal",d_day="itroductionn",s_day="basic",t_day="types")

In [ ]:
def book(name="VEDANT"):
  print("My name is :",name)
book("ved")
book()

In [ ]:
def add(*numbers):
  print("Argumentsv:",numbers)
  total=sum(numbers)
  print("sum",total)
add(2,3,5)

In [ ]:
def info(**details):
  print("keyword argumnets",details)
  for key value in details.items():
    print(f"{key} : {value}:")
info(name="vedant",age=18,city="bangalore")

In [ ]:
i=10
j=20
print(f'Addition of {i} and {j} value is {i+j}')

In [ ]:
a="Vedant"
b="VSM COLLEGE,NIPANI"
c=81.16
d=2025
print(f'i am {a},i passed 2nd puc in {b} my percentage is :{c} in the year {d}')

In [ ]:
def fact(n):
  if n==0 or n==1:
    return n
  else:
    return n*fact(n-1)
print(f'factorial number is:{fact(5)}')

In [ ]:
a=101
b=50
print(f'Substract of {a} and {b} value is {a-b}')

In [ ]:
a=10
b=20
print(f'Multification of {a} and {b} value is {a*b}')

In [ ]:
a=50
b=20
print(f'Division of {a} and {b} value is {a/b}')

In [ ]:
a=51
b=2
print(f'Modulus of {a} and {b} value is {a%b}')

In [ ]:
def fibo(num):
  if num<=1:
    return num
  else:
    return fibo(num-1)+fibo(num-2)
for i in range(11):
  print(fibo(i),end=" ")

In [ ]:
#OOPS
class myclass:
  x=5
  name="vedant"
  def fun(self):
    print("yes im under stand oops concept")

p1=myclass()
print(p1.x)
print(p1.name)
print(p1.fun())

In [ ]:
#CLASS
def person:
  def _int_(self,name,age):
    self.name=name
    self.age=age
def greet(self):
  print("Hello,My name is"+self name)

In [ ]:
class Bank:
  def __init__(self,balance):
    self.balance=balance       #1000
  def deposit(self,amount):
    self.balance += amount     #500
  def withdraw(self,amount):
    if amount<=self.balance:        #300 < 1500
       print(f'withdraw successfully: {amount}')
    else:
       print("Insufficient balance")
  def get_balance(self):
    return self.balance

B=Bank(1000)
B.deposit(500)
B.deposit(700)
B.withdraw(700)
B.withdraw(300)
print(f'remaining balance: {B.get_balance()}')

In [ ]:
\

In [ ]:
class student:
  def __init__(self, name, age):
    self.my_name=name
    self.my_age=age

  def display(self):
    print("name:", self.my_name, "age:", self.my_age)

s1=student("VEDANT",18)
s2=student("SHAHU",56)

s1.display()
s2.display()

In [ ]:
class parent:
  def greet(self):
    print("Helllo from parent")

class Child(parent):
  def display(self):
    print("Hello from child")

obj=Child()
obj.greet()
obj.display()

In [ ]:
class father:
  def skill(self):
    print("driving")

class mother(father):
  def talent(self):
    print("cooking")

class child(mother):
  def hubby(self):
    print("singing")

obj=child()
obj.skill()
obj.talent()
obj.hubby()

##DAY 8

In [ ]:
class flowers:
  colour="Red"
  shape ="Round"
  f_type="Rose"
  size="Small"

  def smell(self):
    print("Good smell")
  def attract(self):
    print("colourfull")
  def honey(self):
    print("Honey very sweet")

obj= flowers()
print(obj.colour)
obj.smell()
print(obj.size)
obj.honey()

In [ ]:
class Bag():
  color="black"
  brand="Nike"
  B_type="school bag"
  size="Large"

  def wp(self):
    print("it is a waterproof")
  def use(self):
    print("it is used to keep book")
  def parts(self):
    print("it has a 5 pockets")
  def quality(self):
    print("it has a strong ")

  obj=Bag()
  print(obj.color)
  print(obj.brand)
  print(obj.size)
  print(obj.B_type)
  print()
  obj.wp()
  obj.parts()
  obj.use()
  obj.quality()

In [ ]:
#Encapsulation
class Student():
  def __init__(self,name,marks):
    self.__name=name
    self.__marks=marks
  def set_method(self,marks):
    self.marks=marks
  def get_method(self):
    return self.marks


obj=Student("Vedant",82)
obj.set_method(50)
print(obj.get_method())

In [ ]:
# single inheritance

class Parents():
  Age=50

  def work(self):
    print("Parents are very good")

class Children(Parents):
  age =18
  def study(self):
    print("Childrens are very bad")

obj=Children()
obj.work()
print(obj.Age)
obj.study()
print(obj.age)

In [ ]:
#multriple 9inheritance
class Father:
  def farmer(self):
    print("My father was doing farmer work")

class Mother:
  def house(self):
    print("MY mother is house wife")

class Children(Father,Mother):
  def jolly(self):
    print("I'm studying BCA 1st sem")

obj=Children()
obj.jolly()
obj.farmer()
obj.house()

In [ ]:
#multilevel

class Grand_Father:
  def hi(self):
    print("I'm 87 years old")

class Father(Grand_Father):
  def Hello(self):
    print("I'm 50 years old")

class Children(Father):
  def Bye(self):
    print("I'm 18 years old")

obj=Children()
obj.hi()
obj.Hello()
obj.Bye()

In [ ]:
#Hire
class Degree:
  def ok(self):
    print("We are studying Degree course")

class BCA(Degree):
  def Hi(self):
    print("I'm BCA student")

class BSC(Degree):
  def science(self):
    print("I'm BSC student")

obj=BCA()
obj.ok()
obj.Hi()
print()
obj=BSC()
obj.ok()
obj.science()

In [ ]:
#Hybrid inheritance
class A:
  def Hi(self):
    print("Good Morning")
class B(A):
  def Hello(self):
    print("Good Afternoon")
class C(A):
  def Bye(self):
    print("Good Evening")
class D(B,C):
  def Goodbye(self):
    print("Good ningt")

obj=D()
obj.Hi()
obj.Hello()
obj.Bye()
obj.Goodbye()

In [ ]:
#Run Time polymorphism
#METHOD OVERIDING
class Animal:
  def sound(self):
    print("Animal makes a sound")

class Dog(Animal):
  def sound(self):
    print("bow bow bow")

class Cat(Animal):
  def sound(self):
    print("Meow Meow.....")

class Cow(Animal):
  def sound(self):
    print("Amboooooo")

obj=Animal()
obj.sound()
obj=Dog()
obj.sound()
obj=Cat()
obj.sound()
obj=Cow()
obj.sound()

In [ ]:
#Compile ytpe polymorphism
#method overloading

class Match:
  def add(self,a,b=0,c=0):
    return a+b+c

obj=Match()
print(obj.add(5))
print(obj.add(5,5))
print(obj.add(4,5,6))

In [ ]:
#Operator

first=int(input("enter first number"))
second=int(input("enter second number"))
print(first+second)

In [ ]:
#operator overloading

class Book:
  def __init__(self,pages):
    self.pages=pages
  def __add__(self,other):
    return self.pages+other.pages

b1=Book(100)
b2=Book(200)
print("total number of pages:",b1+b2)

In [ ]:
#Abstaction
from abc import ABC, abstractmethod
class Programe(ABC):
  def method(self):
    pass

class SubPrograme(Programe):
  def method(self):

In [ ]:
 #Numari
import numpy as np
arr=np.array([1,2,3,4,5])
print("NumPy Array:",arr)

In [ ]:
2#Array with zeros and ones
import numpy as np
zeros=np.zeros(5)
ones=np.ones(5)
print("Zeros:",zeros)
print("Ones:",ones)

In [ ]:
3#BASIC arthamatic on array
import numpy as np
a=np.array([10,20,30])
b=np.array([1,2,3])
print("Addition:",a+b)
print("Multification:",a*b)

In [ ]:
4#Mathematical Functions
import numpy as np
arr=np.array([1,4,9,16])
print("Square root:",np.sqrt(arr))
print("Mean:",np.mean(arr))

In [ ]:
5#2D Array
import numpy as np
matrix=np.array([[1,2],[3,4]])
print("Matrix:\n",matrix)

In [ ]:
class Dictionary:
  def __init__(self):
    self.word = {}

  def add_word(self, word, meaning):
    if word in self.word:
      print(f"'{word}' already exists in dictionary. Duplicate not allowed!")
    else:
      self.word[word]=meaning
      print(f"'{word}' added successfully!")

  def search_word(self, word):
    if word in self.word:
      print("\n===== Search Result ======")
      print(f"{'word':<15} | {'meaning'}")
      print("-" * 40)
      print(f"{word:<15} | {self.word[word]}")
      print("-" * 40)
    else:
      print(f"'{word}' not found in dictionary.")

  def show_all(self):
    if not self.word:
      print("Dictionary is empty.")
    else:
      print("\n===== My Dictionary (Alphabetical Order) =====")
      print(f"{'word':<15} | {'meaning'}")
      print("-" * 40)
      for word in sorted(self.word.keys()):
        print(f"{word:<15} | {self.word[word]}")
      print("-" * 40)

  def update_word(self, word, new_meaning):
    if word in self.word:
      self.word[word] = new_meaning
      print(f"'{word}' updated successfully!")
    else:
      print(f"'{word}' not found. cannot update.")


def main():
  my_dict = Dictionary()

  while True:
    print("\n===== Digital Dictionary Menu =====")
    print("1. Add Word")
    print("2. search Word")
    print("3. Show All Words")
    print("4. Update Word Meaning")
    print("5. Exit")

    choice = input("Enter choice:")

    if choice == "1":
      word = input("Enter word:")
      meaning = input("Enter meaning:")
      my_dict.add_word(word, meaning)

    elif choice == "2":
      word = input("Enter word to search:")
      my_dict.search_word(word)

    elif choice == "3":
      my_dict.show_all()

    elif choice == "4":
      word = input("Enter word to update: ")
      meaning = input("Enter new meaning: ")
      my_dict.update_word(word, meaning)

    elif choice == "5":
      print("Exiting Dictionary... Goodbye!")
      break

    else:
      print("Invalid choice. Try again.")


# Run th program
if __name__ == "__main__":
  main()