In [6]:
def add(*args):
   total = 0
   for num in args:
      total +=num
   print("Total values is:",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

Total values is: 15
Total values is: 18
Total values is: 90

In [17]:
def details(**kwargs):
   for key,value in kwargs.items():
     print(f'my details is {key} and {value}')
details(course="bca",section='c', college="bk college")
details(place="bengaluru")
details(roll_num= 201,T_subject=7)

my details is course and bca
my details is section and c
my details is college and bk college
my details is place and bengaluru
my details is roll_num and 201
my details is T_subject and 7

In [20]:
def show_values(*args,**kwargs):
    print("positional arguments represented in tuple",args)
    print("key - words arguments represented in dict",kwargs)
show_values(1,2,3,4,name="basavarj")

show_values(5,8,1,10,Class="bca c secton",gender="male")

positional arguments represented in tuple (1, 2, 3, 4)
key - words arguments represented in dict {'name': 'basavarj'}
positional arguments represented in tuple (5, 8, 1, 10)
key - words arguments represented in dict {'Class': 'bca c secton', 'gender': 'male'}

In [22]:
fact = 1
for i in range(1,6):
    fact *=i
print(fact)

120

In [27]:
def fact (num):
  if num==0 or num==1:
    return 1
  else:
    return num*fact(num-1)
print("factorialnumber is : ",fact(5))

factorialnumber is :  120

In [40]:
def sum (num):
  if num==0:
    return num
  else:
    return num+sum(num-1)
sum(10)
print("sum of n natural number is:", sum(10))

sum of n natural number is: 55

In [41]:
def fibo(num):
   if num <=1:
      return num
   else:
      return fibo(num-1) + fibo(num-2)
for i in range(11):
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [66]:
name="vasu"
print(name[:4])

vasu

In [77]:
class fruit:
  colour="orange"
  price=250
  teste="sweet"
  shape="circle"
  def juice(self):
    print("good")
orange=fruit()
print("orange colour is ",orange.colour)

orange colour is  orange

In [ ]:
class student:
    def __init__(self,name,marks):
        self.__name = name
        self.__marks = marks
        self.place = place

    def set_method(self,name,marks):
        self.name = name
        self.marks = marks

    def get_method(self):
        return self.name + " " +str(self.marks)
    def get_method(self):
        return self.marks
obj = student("sagar",85,"kankanawadi")
obj.set_method("sharth",69)
print(obj.get_method())

In [91]:
class student:
    def __init__(self,name,marks,place):
        self.__name = name
        self.__marks = marks
        self.place = place

    def set_method(self,name,marks):
        self.name = name
        self.marks = marks

    def get_method(self):
        return self.name + " " +str(self.marks)
obj= student("sagar",85,"kankanawadi")
obj.set_method("sharath",69)
print(obj.get_method())

sharath 69

In [94]:
class parent :
    def work(self):
        print("my parents are doing forming")
class children(parent):
    def study(self):
        print("i'm studying bca in bk college")
ch = children()
ch.work()
ch.study()

my parents are doing forming
i'm studying bca in bk college

In [95]:
class father :
    def hi(self):
        print("my father is my first hero")
class mother:
    def hello (self):
        print("my mother is a house wife")
class child(father,mother):
    def bye(self):
        print("i' working as a freealnce")
obj = child()
obj.hi()
obj.hello()
obj.bye()

my father is my first hero
my mother is a house wife
i' working as a freealnce